body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinha os produtos à esquerda */
}

.product-card {
    margin-bottom: 20px;
    width: 200px; /* Ajuste a largura conforme necessário */
}

.product-card:not(:first-child) {
    margin-left: 20px; /* Adiciona margem à esquerda, exceto para o primeiro produto */
}

.product-card a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h2 {
    margin: 10px 0;
}

.product-card p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
}
